# Setler (Kümeler)

In [1]:
set1 = set()

In [2]:
set1

set()

In [3]:
type(set1)

set

In [4]:
set1 = set(["Apple", "Amazon", "Microsoft", "Google"])

In [5]:
set1

{'Amazon', 'Apple', 'Google', 'Microsoft'}

In [6]:
set1[0]

TypeError: 'set' object is not subscriptable

In [7]:
liste = [1,2,3,4,5]

In [8]:
liste[0]

1

In [9]:
set1["Apple"]

TypeError: 'set' object is not subscriptable

In [10]:
for i in set1:
    print(i)

Google
Microsoft
Apple
Amazon

In [11]:
set1

{'Amazon', 'Apple', 'Google', 'Microsoft'}

In [12]:
liste = list(set1)

In [13]:
liste

['Google', 'Microsoft', 'Apple', 'Amazon']

In [14]:
set2 = set(("Elma","Kiraz","Portakal","Muz"))

In [16]:
set2

{'Elma', 'Kiraz', 'Muz', 'Portakal'}

In [17]:
set3 = set("Kiraz")

In [18]:
set3

{'K', 'a', 'i', 'r', 'z'}

In [19]:
set4 = set(1,2,3,4,5)

TypeError: set expected at most 1 argument, got 5

In [20]:
liste = [1,2,3,4,5]

In [21]:
set4 = set(liste)

In [22]:
set4

{1, 2, 3, 4, 5}

In [23]:
set5 = {1,2,3,4,5}

In [24]:
set5

{1, 2, 3, 4, 5}

In [33]:
set10 = {"Apple","Apple","Apple","Microsoft"}

In [34]:
set10

{'Apple', 'Microsoft'}

In [35]:
set15 = {1,2,3,4,5,6,1,1,1,2,2,2,3,33}

In [36]:
set15

{1, 2, 3, 4, 5, 6, 33}

# Setlerin Fonksiyonları

# add() Fonksiyonu

In [25]:
set1

{'Amazon', 'Apple', 'Google', 'Microsoft'}

In [26]:
set1.add("Tesla")

In [27]:
set1

{'Amazon', 'Apple', 'Google', 'Microsoft', 'Tesla'}

# difference() Fonksiyonu

In [28]:
set1

{'Amazon', 'Apple', 'Google', 'Microsoft', 'Tesla'}

In [29]:
set1 = {1,2,3,4,5,6,7}

In [30]:
set2

{'Elma', 'Kiraz', 'Muz', 'Portakal'}

In [31]:
set2 = {9,8,7,6,5}

In [32]:
set1.difference(set2)

{1, 2, 3, 4}

# difference_update() Fonksiyonu

In [37]:
set1

{1, 2, 3, 4, 5, 6, 7}

In [38]:
set2

{5, 6, 7, 8, 9}

In [39]:
set1.difference(set2)

{1, 2, 3, 4}

In [40]:
set1

{1, 2, 3, 4, 5, 6, 7}

In [41]:
set2

{5, 6, 7, 8, 9}

In [44]:
set1.difference_update(set2)

In [45]:
set1

{1, 2, 3, 4}

# discard() Fonksiyonu

In [46]:
set1

{1, 2, 3, 4}

In [47]:
set3

{'K', 'a', 'i', 'r', 'z'}

In [48]:
set1.discard(1)

In [49]:
set1

{2, 3, 4}

In [50]:
set3.discard("K")

In [51]:
set3

{'a', 'i', 'r', 'z'}

In [52]:
set3.discard(5)

In [53]:
set3

{'a', 'i', 'r', 'z'}

# intersection() Fonksiyonu

In [54]:
set1

{2, 3, 4}

In [55]:
set2

{5, 6, 7, 8, 9}

In [56]:
set1 = {3,4,5,6,7}

In [57]:
set1

{3, 4, 5, 6, 7}

In [58]:
set1.intersection(set2)

{5, 6, 7}

# intersection_update() Fonksiyonu

In [60]:
set1.intersection_update(set2)

In [61]:
set1

{5, 6, 7}

# issubset() Fonksiyonu

In [62]:
set1

{5, 6, 7}

In [63]:
set2

{5, 6, 7, 8, 9}

In [64]:
set1.issubset(set2)

True

In [65]:
set3

{'a', 'i', 'r', 'z'}

In [66]:
set3.issubset(set2)

False

# union() Fonksiyonu

In [67]:
set1

{5, 6, 7}

In [68]:
set2

{5, 6, 7, 8, 9}

In [70]:
set10 = set1.union(set2)

In [71]:
set10

{5, 6, 7, 8, 9}

# clear() Fonksiyonu

In [72]:
set1

{5, 6, 7}

In [73]:
set2

{5, 6, 7, 8, 9}

In [74]:
set3

{'a', 'i', 'r', 'z'}

In [75]:
set1.clear()

In [76]:
set1

set()

In [77]:
set2.clear()

In [78]:
set2

set()

In [79]:
set3.clear()

In [80]:
set3

set()

# Frozensetler (Dondurulmuş Kümeler)

In [81]:
frozen = frozenset(["Apple","Microsoft","Tesla","Google"])

In [82]:
frozen

frozenset({'Apple', 'Google', 'Microsoft', 'Tesla'})

In [83]:
frozen.add("Epic")

AttributeError: 'frozenset' object has no attribute 'add'

In [84]:
frozen.discard("Apple")

AttributeError: 'frozenset' object has no attribute 'discard'