# Ondalıklı ve Tamsayıların Birbirine Dönüştürülmesi

float() ve int()

In [25]:
a = 4.45

In [26]:
a

4.45

In [28]:
int(a)

4

In [29]:
x = 45

In [30]:
x

45

In [31]:
float(x)

45.0

# Sayıların Stringe Çevrilmesi

str()

In [32]:
a = 45

In [33]:
a

45

In [35]:
a*3

135

In [34]:
str(a)

'45'

In [36]:
a = str(a)

In [37]:
a

'45'

In [38]:
a*3

'454545'

In [39]:
x = 4.15

In [40]:
x

4.15

In [41]:
x = str(x)

In [42]:
x

'4.15'

# Stringlerin Sayıya Çevrilmesi

Stringlerin Tamsayıya Çevrilmesi - int()

In [43]:
string = "123456"

In [44]:
string

'123456'

In [45]:
string = int(string)

In [46]:
string

123456

In [47]:
string = "123ab"

In [48]:
string = int(string)

ValueError: invalid literal for int() with base 10: '123ab'

Stringlerin Ondalıklı Sayıya Çevrilmesi - float()

In [49]:
string = "1.456"

In [50]:
string

'1.456'

In [51]:
string = float(string)

In [52]:
string

1.456

In [53]:
print(3)

3

In [54]:
3

3

In [55]:
3+5

8

# print() Fonksiyon Özellikleri

sep Parametresi

In [57]:
print("Devkod", "Akademi")

Devkod Akademi

In [58]:
print("Devkod", "Akademi", sep = " ")

Devkod Akademi

In [59]:
print("Devkod", "Akademi", sep = "*")

Devkod*Akademi

(*) parametresi

In [60]:
print(*"Devkod")

D e v k o d

In [61]:
print(*"Devkod", sep="/")

D/e/v/k/o/d

In [62]:
print(*"linux", sep = ".")

l.i.n.u.x

In [63]:
print(*"TBMM", sep = ".")

T.B.M.M