# in Operatörünün Veri Tipleriyle Kullanılması

In [1]:
string = "Python"

In [2]:
"P" in string

True

In [3]:
"s" in string

False

In [4]:
liste= [1,2,3,4,5]

In [5]:
1 in liste

True

In [6]:
10 in liste

False

In [7]:
demet = (4,5,6,7)

In [8]:
6 in demet

True

In [9]:
10 in demet

False

In [10]:
sozluk = {"TL":"Türkiye", "Euro":"Avrupa", "Dolar":"ABD"}

In [11]:
"TL" in sozluk

True

In [12]:
"Yen" in sozluk

False

# For Döngüsünün Yapısı - Veri Tipleriyle Kullanımı#

In [13]:
liste = [1,2,3,4,5]

In [14]:
for i in liste:
    print(i)

1
2
3
4
5

In [15]:
for i in liste:
    print(i-5)

-4
-3
-2
-1
0

In [16]:
string = "Python"

In [17]:
for i in string:
    print(i)

P
y
t
h
o
n

In [18]:
for i in "Python":
    print(i)

P
y
t
h
o
n

In [19]:
sayilar = 123456

In [20]:
for i in sayilar:
    print(i)

TypeError: 'int' object is not iterable

In [21]:
sayilar = "123456"

In [22]:
for i in sayilar:
    print(i)

1
2
3
4
5
6

In [23]:
for i in sayilar:
    print(int(i))

1
2
3
4
5
6

In [24]:
for i in sayilar:
    print(i*i)

TypeError: can't multiply sequence by non-int of type 'str'

In [25]:
for i in sayilar:
    print(int(i)*int(i))

1
4
9
16
25
36

In [26]:
demet = (1,2,3,4)

In [27]:
for i in demet:
    print(i)

1
2
3
4

In [28]:
sozluk

{'TL': 'Türkiye', 'Euro': 'Avrupa', 'Dolar': 'ABD'}

In [29]:
for i in sozluk:
    print(i)

TL
Euro
Dolar

# for döngüsüyle bir listenin elemanlarının toplanması

In [30]:
liste = [10,11,12,13,14]

In [31]:
toplam = 0
for i in liste:
    print(toplam, "+", i, "toplamı:")
    toplam = toplam + i
    print(toplam)

print("Listenin Toplamı:", toplam)

0 + 10 toplamı:
10
10 + 11 toplamı:
21
21 + 12 toplamı:
33
33 + 13 toplamı:
46
46 + 14 toplamı:
60
Listenin Toplamı: 60

# for döngüsüyle bir listedeki çift-tek sayıların tespit edilmesi

In [32]:
10%2

0

In [33]:
11%2

1

In [34]:
liste = [62,63,78,45,47,107,15]

In [35]:
for i in liste:
    if(i%2==0):
        print("Çift Sayı:", i)
    else:
        print("Tek Sayı:", i)

Çift Sayı: 62
Tek Sayı: 63
Çift Sayı: 78
Tek Sayı: 45
Tek Sayı: 47
Tek Sayı: 107
Tek Sayı: 15

# Liste Elemanı Olan Demetler Üzerinde Gezinmek

In [39]:
demet = (1,2,3,4)

In [40]:
for i in demet:
    print(i)

1
2
3
4

In [41]:
liste_demet = [(1,2),(4,5),(10,11)]

In [42]:
for i in liste_demet:
    print(i)

(1, 2)
(4, 5)
(10, 11)

In [44]:
for (x, y) in liste_demet:
    print("x:", x, "y:", y)

x: 1 y: 2
x: 4 y: 5
x: 10 y: 11

In [45]:
for (x, y) in liste_demet:
    print(x*y)

2
20
110

In [46]:
liste_demet2 = [(1,2,3), (5,6,7),(10,11,12)]

In [47]:
for (x,y,z) in liste_demet2:
    print("x:", x, "y:", y, "z:", z)

x: 1 y: 2 z: 3
x: 5 y: 6 z: 7
x: 10 y: 11 z: 12

# For Döngüsünün Sözlüklerle Kullanılması

In [48]:
sozluk

{'TL': 'Türkiye', 'Euro': 'Avrupa', 'Dolar': 'ABD'}

In [49]:
sozluk.keys()

dict_keys(['TL', 'Euro', 'Dolar'])

In [50]:
sozluk.values()

dict_values(['Türkiye', 'Avrupa', 'ABD'])

In [51]:
sozluk.items()

dict_items([('TL', 'Türkiye'), ('Euro', 'Avrupa'), ('Dolar', 'ABD')])

In [52]:
for i in sozluk.keys():
    print(i)

TL
Euro
Dolar

In [53]:
for i in sozluk.values():
    print(i)

Türkiye
Avrupa
ABD

In [54]:
for i in sozluk.items():
    print(i)

('TL', 'Türkiye')
('Euro', 'Avrupa')
('Dolar', 'ABD')

In [55]:
for (i, j) in sozluk.items():
    print("Key:", i, "Value:", j)

Key: TL Value: Türkiye
Key: Euro Value: Avrupa
Key: Dolar Value: ABD