# List Comprehension

In [7]:
liste

[1, 2, 3, 4, 5]

In [9]:
liste_yeni = []

In [10]:
for i in liste:
    liste_yeni.append(i)

In [11]:
liste_yeni

[1, 2, 3, 4, 5]

In [12]:
liste_kopya = []

In [13]:
liste_kopya = list(liste)

In [14]:
liste_kopya

[1, 2, 3, 4, 5]

In [15]:
liste

[1, 2, 3, 4, 5]

In [16]:
id(liste_kopya)

2017595441664

In [17]:
id(liste)

2017594731072

# Comprehension

In [4]:
liste = [1,2,3,4,5]

In [5]:
liste2 = [i for i in liste]

In [6]:
liste2

[1, 2, 3, 4, 5]

In [18]:
liste3 = [i * 2 for i in liste2]

In [19]:
liste3

[2, 4, 6, 8, 10]

In [20]:
liste_demet = [(2,3),(4,5),(6,7)]

In [21]:
liste4 = [i*j for (i,j) in liste_demet]

In [22]:
liste4

[6, 20, 42]

In [23]:
string = "Python"

In [24]:
liste_string = [i for i in string]

In [25]:
liste_string

['P', 'y', 't', 'h', 'o', 'n']

In [26]:
liste_string2 = [i*2 for i in string]

In [27]:
liste_string2

['PP', 'yy', 'tt', 'hh', 'oo', 'nn']

In [29]:
liste_liste = [[1,2,3],[4,5,6,7],[9,8,7,6,5,4]]

In [35]:
liste_liste2 = [x for i in liste_liste for x in i]

In [36]:
liste_liste2

[1, 2, 3, 4, 5, 6, 7, 9, 8, 7, 6, 5, 4]

In [41]:
liste = [i for i in range(100)]

In [42]:
liste

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]